DataFactory/pipeline/IncrementalCopyFromSAPBWOpenHub.json
{
	"name": "IncrementalCopyFromSAPBWOpenHub",
	"properties": {
		"description": "Copy incremental data from SAP BW Open Hub table to ADLS Gen2",
		"activities": [
			{
				"name": "LookupLastRequestId",
				"description": "Retrieve the last max copied request ID stored in blob",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": "*"
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DelimitedTextDataset",
						"type": "DatasetReference",
						"parameters": {
							"HighWatermarkBlobContainer": {
								"value": "@pipeline().parameters.HighWatermarkBlobContainer",
								"type": "Expression"
							},
							"HighWatermarkBlobDirectory": {
								"value": "@pipeline().parameters.HighWatermarkBlobDirectory",
								"type": "Expression"
							},
							"HighWatermarkBlobName": {
								"value": "@pipeline().parameters.HighWatermarkBlobName",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "CopyFromSAPBWOpenHub",
				"description": "Copy incremental data from SAP BW Open Hub table to ADLS Gen2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupLastRequestId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SapOpenHubSource",
						"baseRequestId": {
							"value": "@pipeline().parameters.BaseReqeustId",
							"type": "Expression"
						},
						"excludeLastRequest": true
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"dataIntegrationUnits": 0
				},
				"inputs": [
					{
						"referenceName": "SAPOHDSource_Incremental",
						"type": "DatasetReference",
						"parameters": {
							"BaseReqeustId": {
								"value": "@activity('LookupLastRequestId').output.firstRow.Prop_0",
								"type": "Expression"
							},
							"SAPOpenHubDestinationName": {
								"value": "@pipeline().parameters.SAPOpenHubDestinationName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureDataLakeStorageGen2Sink",
						"type": "DatasetReference",
						"parameters": {
							"Data_Destination_Container": {
								"value": "@pipeline().parameters.Data_Destination_Container",
								"type": "Expression"
							},
							"Data_Destination_Directory": {
								"value": "@pipeline().parameters.Data_Destination_Directory",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "SetMaxCopiedRequestId",
				"description": "Store the latest max copied request ID into blob by calling Logic App",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "CopyFromSAPBWOpenHub",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@pipeline().parameters.LogicAppURL",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\"sapOpenHubMaxRequestId\":\"@{activity('CopyFromSAPBWOpenHub').output.sapOpenHubMaxRequestId}\"}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"SAPOpenHubDestinationName": {
				"type": "String"
			},
			"Data_Destination_Container": {
				"type": "String"
			},
			"Data_Destination_Directory": {
				"type": "String"
			},
			"HighWatermarkBlobContainer": {
				"type": "String"
			},
			"HighWatermarkBlobDirectory": {
				"type": "String"
			},
			"HighWatermarkBlobName": {
				"type": "String"
			},
			"LogicAppURL": {
				"type": "String"
			},
			"BaseReqeustId": {
				"type": "int"
			}
		},
		"folder": {
			"name": "BW_NPL"
		},
		"annotations": []
	}
}