DataFactory/pipeline/NPLProducts_To_DataLake2_Incr_Complete.json
{
	"name": "NPLProducts_To_DataLake2_Incr_Complete",
	"properties": {
		"description": "Get Product Deltas based on LastModified dates",
		"activities": [
			{
				"name": "Incremental NPLProducts_To_DataLake",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupWaterMark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SapEccSource",
						"query": {
							"value": "$filter=LastModified%20gt%20datetime%27@{activity('LookupWaterMark').output.firstRow.WaterMarkValue}%27",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"dataIntegrationUnits": 0
				},
				"inputs": [
					{
						"referenceName": "NPL_Products",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzDataLakeGen2_NPLProducts_csv",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "LookupWaterMark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from watermarktable where TableName='NPLProductsDL';",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "WaterMark_SQL",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Update Watermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Incremental NPLProducts_To_DataLake",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_write_watermark]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": "NPLProductsDL",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "bdlsqldatadb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "MergeUpdates",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Update Watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/badelang@microsoft.com/ADFMerge"
				},
				"linkedServiceName": {
					"referenceName": "adfdatabricks",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "NPLProducts"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}