DataFactory/pipeline/NPLProducts_Incremental.json
{
	"name": "NPLProducts_Incremental",
	"properties": {
		"activities": [
			{
				"name": "LookupWaterMark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": "select * from watermarktable where TableName='NPLProducts';"
					},
					"dataset": {
						"referenceName": "WaterMark_SQL",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "IncrementalCopy",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupWaterMark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SapEccSource",
						"query": {
							"value": "$filter=LastModified%20gt%20datetime%27@{activity('LookupWaterMark').output.firstRow.WaterMarkValue}%27",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "SqlSink",
						"writeBatchSize": 10000,
						"sqlWriterStoredProcedureName": "[dbo].[spOverwriteProducts]",
						"sqlWriterTableType": "NPLProductsType",
						"storedProcedureTableTypeParameterName": "Products"
					},
					"enableStaging": false,
					"dataIntegrationUnits": 0,
					"translator": {
						"type": "TabularTranslator",
						"columnMappings": {
							"Id": "id",
							"CurrencyCode": "currencycode",
							"StockQuantity": "stockquantity",
							"Name": "name",
							"Description": "description",
							"SubCategoryId": "subcategoryid",
							"SubCategoryName": "subcategoryname",
							"MainCategoryId": "maincategoryid",
							"MainCategoryName": "maincategoryname",
							"SupplierId": "supplierid",
							"SupplierName": "suppliername",
							"LastModified": "lastmodified",
							"Price": "price",
							"QuantityUnit": "quantityunit",
							"MeasureUnit": "measureunit"
						}
					}
				},
				"inputs": [
					{
						"referenceName": "NPL_Products",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "NPLProducts_SQL",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "UpdateWaterMark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "IncrementalCopy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_write_watermark]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": "NPLProducts",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "bdlsqldatadb",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "NPLProducts"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}