DataFactory/pipeline/NPLProductsTable_To_DataLake2_Incr.json
{
	"name": "NPLProductsTable_To_DataLake2_Incr",
	"properties": {
		"activities": [
			{
				"name": "NPLProductsTableIncr",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupWaterMark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SapTableSource",
						"rfcTableOptions": {
							"value": "@{LASTMODIFIED GE 'formatDateTime(activity('LookupWaterMark').output)'}",
							"type": "Expression"
						},
						"customRfcReadTableFunctionModule": "",
						"rfcTableFields": "",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "NPLProductsTable",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzDataLakeGen2_NPLProducts_csv_Table",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "LookupWaterMark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": "select * from watermarktable where TableName='NPLProductsTable';"
					},
					"dataset": {
						"referenceName": "WaterMark_SQL",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Update Watermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "NPLProductsTableIncr",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_write_watermark]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": "NPLProductsTable",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "bdlsqldatadb",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "NPLProducts"
		},
		"annotations": []
	}
}