DataFactory/pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://xxx/sap/opu/odata/sap/API_SALES_ORDER_SRV/A_SalesOrder/$count?sap-client=800",
					"method": "GET",
					"authentication": {
						"type": "Basic",
						"username": "xxx",
						"password": {
							"type": "SecureString",
							"value": "**********"
						}
					}
				}
			},
			{
				"name": "Set variable3",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "array",
					"value": {
						"value": "@range(0, div(add(int(activity('Web1').output.Response),int(variables('batch_size'))), int(variables('batch_size'))))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('array')",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 2,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set variable4",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET"
								},
								"enableStaging": false
							}
						},
						{
							"name": "Set variable4",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "as",
								"value": {
									"value": "@string(mul(int(item()),int(variables('batch_size'))))",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"batch_size": {
				"type": "String",
				"defaultValue": "100000"
			},
			"array": {
				"type": "Array"
			},
			"as": {
				"type": "String"
			}
		},
		"folder": {
			"name": "S4D_MicroHack"
		},
		"annotations": [],
		"lastPublishTime": "2021-02-19T11:27:35Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}