bdlsapdatafact/PartialArmTemplates/ArmTemplate_5_18_2020_17_29_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "bdlsapdatafact"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/GetS4HSalesOrders')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetSalesOrders",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SapEccSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"sqlWriterStoredProcedureName": "[[dbo].[spOverwriteS4HSO]",
								"sqlWriterTableType": "S4HSalesOrder",
								"storedProcedureTableTypeParameterName": "SalesOrders",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SALESDOCUMENT",
											"type": "String"
										},
										"sink": {
											"name": "SALESDOCUMENT",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SDDOCUMENTCATEGORY",
											"type": "String"
										},
										"sink": {
											"name": "SDDOCUMENTCATEGORY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SALESDOCUMENTTYPE",
											"type": "String"
										},
										"sink": {
											"name": "SALESDOCUMENTTYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SALESDOCUMENTPROCESSINGTYPE",
											"type": "String"
										},
										"sink": {
											"name": "SALESDOCUMENTPROCESSINGTYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CREATIONDATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "CREATIONDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "CREATIONTIME",
											"type": "TimeSpan"
										},
										"sink": {
											"name": "CREATIONTIME",
											"type": "TimeSpan"
										}
									},
									{
										"source": {
											"name": "LASTCHANGEDATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "LASTCHANGEDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "LASTCHANGEDATETIME",
											"type": "Decimal"
										},
										"sink": {
											"name": "LASTCHANGEDATETIME",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "SALESORGANIZATION",
											"type": "String"
										},
										"sink": {
											"name": "SALESORGANIZATION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DISTRIBUTIONCHANNEL",
											"type": "String"
										},
										"sink": {
											"name": "DISTRIBUTIONCHANNEL",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ORGANIZATIONDIVISION",
											"type": "String"
										},
										"sink": {
											"name": "ORGANIZATIONDIVISION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SALESGROUP",
											"type": "String"
										},
										"sink": {
											"name": "SALESGROUP",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SALESOFFICE",
											"type": "String"
										},
										"sink": {
											"name": "SALESOFFICE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PURCHASEORDERBYCUSTOMER",
											"type": "String"
										},
										"sink": {
											"name": "PURCHASEORDERBYCUSTOMER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONCURRENCY",
											"type": "String"
										},
										"sink": {
											"name": "TRANSACTIONCURRENCY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PRICINGDATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "PRICINGDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "RETAILPROMOTION",
											"type": "String"
										},
										"sink": {
											"name": "RETAILPROMOTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SALESDOCUMENTCONDITION",
											"type": "String"
										},
										"sink": {
											"name": "SALESDOCUMENTCONDITION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ODQ_CHANGEMODE",
											"type": "String"
										},
										"sink": {
											"name": "ODQ_CHANGEMODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ODQ_ENTITYCNTR",
											"type": "Decimal"
										},
										"sink": {
											"name": "ODQ_ENTITYCNTR",
											"type": "Decimal"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "S4H_SalesOrders",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "S4H_SalesOrdersSQL",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "S4H"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/S4H_SalesOrders')]",
				"[concat(variables('factoryId'), '/datasets/S4H_SalesOrdersSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/GetS4HSalesOrders_Delta')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Updated SalesOrders",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Get DeltaToken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SapEccSource"
							},
							"sink": {
								"type": "AzureSqlSink",
								"sqlWriterStoredProcedureName": "[[dbo].[spOverwriteS4HSO]",
								"sqlWriterTableType": "S4HSalesOrder",
								"storedProcedureTableTypeParameterName": "SalesOrders",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SALESDOCUMENT",
											"type": "String"
										},
										"sink": {
											"name": "SALESDOCUMENT",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SDDOCUMENTCATEGORY",
											"type": "String"
										},
										"sink": {
											"name": "SDDOCUMENTCATEGORY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SALESDOCUMENTTYPE",
											"type": "String"
										},
										"sink": {
											"name": "SALESDOCUMENTTYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SALESDOCUMENTPROCESSINGTYPE",
											"type": "String"
										},
										"sink": {
											"name": "SALESDOCUMENTPROCESSINGTYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CREATIONDATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "CREATIONDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "CREATIONTIME",
											"type": "TimeSpan"
										},
										"sink": {
											"name": "CREATIONTIME",
											"type": "TimeSpan"
										}
									},
									{
										"source": {
											"name": "LASTCHANGEDATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "LASTCHANGEDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "LASTCHANGEDATETIME",
											"type": "Decimal"
										},
										"sink": {
											"name": "LASTCHANGEDATETIME",
											"type": "Decimal"
										}
									},
									{
										"source": {
											"name": "SALESORGANIZATION",
											"type": "String"
										},
										"sink": {
											"name": "SALESORGANIZATION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DISTRIBUTIONCHANNEL",
											"type": "String"
										},
										"sink": {
											"name": "DISTRIBUTIONCHANNEL",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ORGANIZATIONDIVISION",
											"type": "String"
										},
										"sink": {
											"name": "ORGANIZATIONDIVISION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SALESGROUP",
											"type": "String"
										},
										"sink": {
											"name": "SALESGROUP",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SALESOFFICE",
											"type": "String"
										},
										"sink": {
											"name": "SALESOFFICE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PURCHASEORDERBYCUSTOMER",
											"type": "String"
										},
										"sink": {
											"name": "PURCHASEORDERBYCUSTOMER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONCURRENCY",
											"type": "String"
										},
										"sink": {
											"name": "TRANSACTIONCURRENCY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PRICINGDATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "PRICINGDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"name": "RETAILPROMOTION",
											"type": "String"
										},
										"sink": {
											"name": "RETAILPROMOTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SALESDOCUMENTCONDITION",
											"type": "String"
										},
										"sink": {
											"name": "SALESDOCUMENTCONDITION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ODQ_CHANGEMODE",
											"type": "String"
										},
										"sink": {
											"name": "ODQ_CHANGEMODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ODQ_ENTITYCNTR",
											"type": "Decimal"
										},
										"sink": {
											"name": "ODQ_ENTITYCNTR",
											"type": "Decimal"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "S4H_SalesOrderByToken",
								"type": "DatasetReference",
								"parameters": {
									"Token": "@activity('Get DeltaToken').output.DeltaToken"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "S4H_SalesOrdersSQL",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Get DeltaToken",
						"type": "AzureFunctionActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"functionName": "GetODPDeltaToken",
							"method": "GET",
							"body": {
								"name": "Azure Function Call"
							}
						},
						"linkedServiceName": {
							"referenceName": "ADFTest",
							"type": "LinkedServiceReference"
						}
					}
				],
				"folder": {
					"name": "S4H"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/S4H_SalesOrderByToken')]",
				"[concat(variables('factoryId'), '/datasets/S4H_SalesOrdersSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/S4HRest_GetUpdatedSalesOrders')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetUpdatedSO_Rest",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010"
							},
							"sink": {
								"type": "AzureSqlSink",
								"sqlWriterStoredProcedureName": "[[dbo].[spOverwriteS4HSOStr]",
								"sqlWriterTableType": "S4HSalesOrderStr",
								"storedProcedureTableTypeParameterName": "SalesOrders"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "d.results[0].SALESDOCUMENT"
										},
										"sink": {
											"name": "SALESDOCUMENT",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "d.results[0].SDDOCUMENTCATEGORY"
										},
										"sink": {
											"name": "SDDOCUMENTCATEGORY",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "d.results[0].SALESDOCUMENTTYPE"
										},
										"sink": {
											"name": "SALESDOCUMENTTYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "d.results[0].SALESDOCUMENTPROCESSINGTYPE"
										},
										"sink": {
											"name": "SALESDOCUMENTPROCESSINGTYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "d.results[0].CREATIONDATE"
										},
										"sink": {
											"name": "CREATIONDATE",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "d.results[0].CREATIONTIME"
										},
										"sink": {
											"name": "CREATIONTIME",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "d.results[0].LASTCHANGEDATE"
										},
										"sink": {
											"name": "LASTCHANGEDATE",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "d.results[0].LASTCHANGEDATETIME"
										},
										"sink": {
											"name": "LASTCHANGEDATETIME",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "d.results[0].SALESORGANIZATION"
										},
										"sink": {
											"name": "SALESORGANIZATION",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "d.results[0].DISTRIBUTIONCHANNEL"
										},
										"sink": {
											"name": "DISTRIBUTIONCHANNEL",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "d.results[0].ORGANIZATIONDIVISION"
										},
										"sink": {
											"name": "ORGANIZATIONDIVISION",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "d.results[0].SALESGROUP"
										},
										"sink": {
											"name": "SALESGROUP",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "d.results[0].SALESOFFICE"
										},
										"sink": {
											"name": "SALESOFFICE",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "d.results[0].PURCHASEORDERBYCUSTOMER"
										},
										"sink": {
											"name": "PURCHASEORDERBYCUSTOMER",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "d.results[0].TRANSACTIONCURRENCY"
										},
										"sink": {
											"name": "TRANSACTIONCURRENCY",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "d.results[0].PRICINGDATE"
										},
										"sink": {
											"name": "PRICINGDATE",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "d.results[0].RETAILPROMOTION"
										},
										"sink": {
											"name": "RETAILPROMOTION",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "d.results[0].SALESDOCUMENTCONDITION"
										},
										"sink": {
											"name": "SALESDOCUMENTCONDITION",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "d.results[0].ODQ_CHANGEMODE"
										},
										"sink": {
											"name": "ODQ_CHANGEMODE",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "d.results[0].ODQ_ENTITYCNTR"
										},
										"sink": {
											"name": "ODQ_ENTITYCNTR",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "S4HRest_GetUpdatedSO",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "S4H_SalesOrdersSQL",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "GetNextDeltaToken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "http://52.142.196.143:50000/sap/opu/odata/SAP/ZBD_ODP_ODATA_SRV/DeltaLinksOfAttrOfZBD_ISALESDOC_1('D20190828122610_000029000')/ChangesAfter?$format=json",
							"method": "GET",
							"authentication": {
								"type": "Basic",
								"username": "DEVELOPER",
								"password": {
									"type": "SecureString",
									"value": "**********"
								}
							}
						}
					}
				],
				"folder": {
					"name": "S4H"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/S4H_SalesOrdersSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/S4HSO_To_DataLake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "S4HSO_DataLake",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SapEccSource"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SALESDOCUMENT",
											"type": "String"
										},
										"sink": {
											"name": "SALESDOCUMENT",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SDDOCUMENTCATEGORY",
											"type": "String"
										},
										"sink": {
											"name": "SDDOCUMENTCATEGORY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SALESDOCUMENTTYPE",
											"type": "String"
										},
										"sink": {
											"name": "SALESDOCUMENTTYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SALESDOCUMENTPROCESSINGTYPE",
											"type": "String"
										},
										"sink": {
											"name": "SALESDOCUMENTPROCESSINGTYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CREATIONDATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "CREATIONDATE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CREATIONTIME",
											"type": "TimeSpan"
										},
										"sink": {
											"name": "CREATIONTIME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LASTCHANGEDATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "LASTCHANGEDATE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "LASTCHANGEDATETIME",
											"type": "Decimal"
										},
										"sink": {
											"name": "LASTCHANGEDATETIME",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SALESORGANIZATION",
											"type": "String"
										},
										"sink": {
											"name": "SALESORGANIZATION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DISTRIBUTIONCHANNEL",
											"type": "String"
										},
										"sink": {
											"name": "DISTRIBUTIONCHANNEL",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ORGANIZATIONDIVISION",
											"type": "String"
										},
										"sink": {
											"name": "ORAGANIZATIONDIVISION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SALESGROUP",
											"type": "String"
										},
										"sink": {
											"name": "SALESGROUP",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SALESOFFICE",
											"type": "String"
										},
										"sink": {
											"name": "SALESOFFICE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PURCHASEORDERBYCUSTOMER",
											"type": "String"
										},
										"sink": {
											"name": "PURCHASEORDERBYCUSTOMER",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "TRANSACTIONCURRENCY",
											"type": "String"
										},
										"sink": {
											"name": "TRANSACTIONCURRENCY",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "PRICINGDATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "PRICINGDATA",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "RETAILPROMOTION",
											"type": "String"
										},
										"sink": {
											"name": "RETAILPROMOTION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SALESDOCUMENTCONDITION",
											"type": "String"
										},
										"sink": {
											"name": "SALESDOCUMENTCONDITION",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ODQ_CHANGEMODE",
											"type": "String"
										},
										"sink": {
											"name": "ODQ_CHANGEMODE",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "ODQ_ENTITYCNTR",
											"type": "Decimal"
										},
										"sink": {
											"name": "ODQ_ENTITYCNTR",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "S4H_SalesOrders",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "S4HSO_csv",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "S4H"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/S4H_SalesOrders')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SAPDevCenterProdSet_BdlAzDL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ProductSet_SAPDev_BdlAzDL",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SapEccSource"
							},
							"sink": {
								"type": "AzureDataLakeStoreSink"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "SAPDevCenter_ProductSet",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "BdlAzDL_SAPDev_ProductSet",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "SAP Dev Center"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/S4HSO_Json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SAPDataLake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "S4H"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "test.json",
						"folderPath": "SalesOrders",
						"fileSystem": "s4hana"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/S4H_DeltaTokens')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "S4H_ODP",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "S4H"
				},
				"annotations": [],
				"type": "SapEccResource",
				"schema": [],
				"typeProperties": {
					"path": "DeltaLinksOfAttrOfZBD_ISALESDOC_1"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/S4H_SalesOrderByToken')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "S4H_ODP",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Token": {
						"type": "string",
						"defaultValue": "D20190716141524_000029000"
					}
				},
				"folder": {
					"name": "S4H"
				},
				"annotations": [],
				"type": "SapEccResource",
				"schema": [],
				"typeProperties": {
					"path": {
						"value": "@concat('DeltaLinksOfAttrOfZBD_ISALESDOC_1(%27',dataset().Token, '%27)/ChangesAfter')",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/S4H_SalesOrders')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "S4H - SAP CAL",
				"linkedServiceName": {
					"referenceName": "S4H_ODP",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "S4H"
				},
				"annotations": [],
				"type": "SapEccResource",
				"schema": [],
				"typeProperties": {
					"path": "AttrOfZBD_ISALESDOC_1"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/S4H_SalesOrdersByDeltaToken')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "S4H_ODP",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "S4H"
				},
				"annotations": [],
				"type": "SapEccResource",
				"schema": [],
				"typeProperties": {
					"path": "DeltaLinksOfAttrOfZBD_ISALESDOC_1('D20190723092859_000029000')/ChangesAfter"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/S4H_SalesOrdersSQL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "bdlsqldatadb",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "S4H"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "SALESDOCUMENT",
						"type": "nvarchar"
					},
					{
						"name": "SDDOCUMENTCATEGORY",
						"type": "nvarchar"
					},
					{
						"name": "SALESDOCUMENTTYPE",
						"type": "nvarchar"
					},
					{
						"name": "SALESDOCUMENTPROCESSINGTYPE",
						"type": "nvarchar"
					},
					{
						"name": "CREATIONDATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CREATIONTIME",
						"type": "time",
						"scale": 7
					},
					{
						"name": "LASTCHANGEDATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "LASTCHANGEDATETIME",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					},
					{
						"name": "SALESORGANIZATION",
						"type": "nvarchar"
					},
					{
						"name": "DISTRIBUTIONCHANNEL",
						"type": "nvarchar"
					},
					{
						"name": "ORGANIZATIONDIVISION",
						"type": "nvarchar"
					},
					{
						"name": "SALESGROUP",
						"type": "nvarchar"
					},
					{
						"name": "SALESOFFICE",
						"type": "nvarchar"
					},
					{
						"name": "TRANSACTIONCURRENCY",
						"type": "nvarchar"
					},
					{
						"name": "PRICINGDATE",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "RETAILPROMOTION",
						"type": "nvarchar"
					},
					{
						"name": "SALESDOCUMENTCONDITION",
						"type": "nvarchar"
					},
					{
						"name": "ODQ_CHANGEMODE",
						"type": "nvarchar"
					},
					{
						"name": "ODQ_ENTITYCNTR",
						"type": "decimal",
						"precision": 18,
						"scale": 0
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[S4HSalesOrders]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/S4HoData_getSalesOrdersByToken')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "S4HOData",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "S4H"
				},
				"annotations": [],
				"type": "ODataResource",
				"typeProperties": {
					"path": "DeltaLinksOfAttrOfZBD_ISALESDOC_1('D20190828122610_000029000')/ChangesAfter"
				}
			},
			"dependsOn": []
		}
	]
}